
/* ─────────────────────────────────── */

.KNEnvironment {
	vertical-align: middle; 
	white-space: nowrap; 
	vertical-align: middle; 
	text-align: center; 
	display: inline-block;
	max-width: 100%;
	overflow: auto;
}
 
/* ─────────────────────────────────── */
 
.KNFrac { 
	background-color: #ccc;
	height: 1px;
}

/* ─────────────────────────────────── */
 
.KNBrackets {
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: inline-block;
	
	border-image-slice: 22 22 22 22;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAABKCAYAAAA11z32AAAAAXNSR0IArs4c6QAAAJpJREFUaAXt2jEKg0AARUE3t9wT7jENFtO5IEhSPZsHRtkw/NKx1jqPm2vOOW5uv7q1O+vY/vDquOcvX+d/nj/+uyf7E2yTSIKAtokkCGibSIKAtokkCGibSIKAtokkCGibSIKAtokkCGibSIKAtokkCGibSIKAtokkCGibSIKAtokkCGibSIKAtokkCGibSIKAjt13Vv/82OsLo94UYanCbyYAAAAASUVORK5CYII=");
}

/* ─────────────────────────────────── */

.KNBrackets:hover {
	border-image-slice: 22 22 22 22; 
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAABKCAYAAAA11z32AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYQEyAlMAVLqQAAAFRJREFUaN7t2rENACAMA0GH/XcOC9AgIZTivnVzA7iSdM5V3tfXw6d6ZUAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBDnKgPOXhvm7AaNpnrMrwAAAABJRU5ErkJggg==");
}

/* ─────────────────────────────────── */
 